@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-color: #0060e5;
  --default-text-color: #373737;
  --white: #ffffff;
  --black--first: #363e4d;
  --black--second: #242933;
  --background: linear-gradient(166deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
  --main-black: #161a20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --background: linear-gradient(166deg, #373737 0%, #252628 22.9%, #000309 100%);
}

body {
  background: #ddd;
}

body::-webkit-scrollbar {
  display: none !important;
}

button {
  border: unset;
  box-shadow: unset;
  cursor: pointer;
  background: unset;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.wrapper {
  padding: 0 34px;
}

.calculator {
  height: 90vh;
  width: 423px;
  background: var(--background);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}